@model Homepage.Models.Category
@{
    Layout = "_Admin";
}

<div class="container">
    <div class="p-2 pt-md-5 pb-md-3 mx-auto">
        <h1 class="display-4">Edit a Category</h1>
    </div>


    <form asp-controller="Category" asp-action="Edit" method="post">
        <input hidden class="form-control" asp-for="@Model.Id">
        <div class="form-group">
            <label class="font-weight-bold" asp-for="@Model.CatId">ID</label>
            <input class="form-control" asp-for="@Model.CatId">
            <span class="text-danger" asp-validation-for="@Model.CatId"></span>
        </div>

        <div class="form-group">
            <label class="font-weight-bold" asp-for="@Model.CatName">Name</label>
            <input class="form-control" asp-for="@Model.CatName">
            <span class="text-danger" asp-validation-for="@Model.CatName"></span>
        </div>

        <div class="form-group">
            <label class="font-weight-bold" asp-for="@Model.CatDescription">Description</label>
            <input class="form-control" asp-for="@Model.CatDescription">
            <span class="text-danger" asp-validation-for="@Model.CatDescription"></span>
        </div>
        <input hidden class="form-control" name="Status" value="2">

        <button type="submit" class="btn btn-success"><i class="fa-solid fa-check"></i> Submit</button>
    </form>
</div>